In [2]:
import pandas as pd
import re

In [82]:
df = pd.read_csv('full_data_no_gender.csv')
df.head()

,Unnamed: 0,title,score,id,num_comments,selftext,created_utc,flair
0,0,UPVOTE THE ASSHOLES,7078,9gdshx,142,"Guys, please, this is for the good of our comm...",1.537129e+09,META
1,1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1.550308e+09,Asshole
2,2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1.550333e+09,No A-holes here
3,3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1.550376e+09,No A-holes here
4,4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1.550418e+09,Not the A-hole

In [83]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [84]:
df['flair'].unique()

array(['META', 'Asshole', 'No A-holes here', 'Not the A-hole',
       'Judgment denied.', 'Everyone Sucks', nan, 'Shitpost', 'UPDATE',
       'Update', 'Not enough info', 'Quality Shitpost', 'META Asshole',
       'TL;DR', 'not the asshole', 'asshole', 'Announcement', 'shitpost',
       'Fake', 'Probably Fake', 'asshole, again', 'not the a-hole',
       'justified asshole', 'everyone sucks', 'Record Setting Asshole',
       'Not the A-hole (oof)'], dtype=object)

In [85]:
df = df[~df['flair'].isin(['IMPORTANT','Probably Fake', 'weeabo h8r', 'Update',
                              'probably fake', 'Probably fake', 'Happy New Year!', 'UPDATE', 'META',
                              'Fake', 'Fake - removed', 'Judgement denied.', 'Shitpost', 'Not enough info', 
                              'Party Pies', 'Quality Shitpost', 'Community Discussion', 'NEWS',
                             'I crave validation!','Fake story/Everyone Sucks', 'Fake Story','Update'
                             'Judgment denied.',None, 'shitpost','Announcement', 'TL;DR', 'Judgment denied.'])]

In [86]:
df.dropna(inplace=True)

In [87]:
df.shape

(6002, 7)

In [88]:
#Consolidate Flairs
df['flair'][df['flair']=='everyone sucks']='Everyone Sucks'
df['flair'][df['flair']=='not the asshole']='Not the A-hole'
df['flair'][df['flair']=='No A-holes here']='Not the A-hole'
df['flair'][df['flair']=='not the a-hole']='Not the A-hole'
df['flair'][df['flair']=='Not the A-hole (oof)']='Not the A-hole'
df['flair'][df['flair']=='Record Setting Asshole']='Asshole'
df['flair'][df['flair']=='asshole']='Asshole'
df['flair'][df['flair']=='META Asshole']='Asshole'
df['flair'][df['flair']=='justified asshole']='Asshole'

<ipython-input-88-44aef570966e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='everyone sucks']='Everyone Sucks'
<ipython-input-88-44aef570966e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='not the asshole']='Not the A-hole'
<ipython-input-88-44aef570966e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='No A-holes here']='Not the A-hole'
<ipython-input-88-44aef570966e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='not the a-hole']='Not the A-hole'
<ipython-input-88-44aef570966e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='Not the A-hole (oof)']='Not the A-hole'
<ipython-input-88-44aef570966e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='Record Setting Asshole']='Asshole'
<ipython-input-88-44aef570966e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='asshole']='Asshole'
<ipython-input-88-44aef570966e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='META Asshole']='Asshole'
<ipython-input-88-44aef570966e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'][df['flair']=='justified asshole']='Asshole'

In [89]:
summary = df.groupby('flair').count()
summary.reset_index(inplace=True)
summary

            flair  title  score    id  num_comments  selftext  created_utc
0         Asshole   2148   2148  2148          2148      2148         2148
1  Everyone Sucks    349    349   349           349       349          349
2  Not the A-hole   3505   3505  3505          3505      3505         3505

In [90]:
def gender(body):
    if re.search("\d{1,3}[FM]", body) != None:
        return re.search("\d{1,3}[FM]", body).group()[-1]
    elif re.search("wife", body) != None:
        return 'M'
    elif re.search("girlfriend", body) != None:
        return 'M'
    elif re.search("husband", body) != None:
        return 'F'
    elif re.search("boyfriend", body) != None:
        return 'F'

In [91]:
df['gender']='Unknown'
df['gender']=df['selftext'].apply(gender)
df

,title,score,id,num_comments,selftext,created_utc,flair,gender
1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1.550308e+09,Asshole,None
2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1.550333e+09,Not the A-hole,None
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1.550376e+09,Not the A-hole,M
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1.550418e+09,Not the A-hole,M
5,AITA for not wanting my bf to live with a fema...,7321,arr62j,1491,My boyfriend wants to have a female coworker s...,1.550450e+09,Not the A-hole,F
...,...,...,...,...,...,...,...,...
6383,AITA for not wanting my wife’s birthday present?,1,foh9yl,740,"The other week, my wife broke my gaming system...",1.585098e+09,Not the A-hole,M
6384,AITA for how I treated a waitress,1,foo3cr,1252,I was flying home from a work trip and my flig...,1.585132e+09,Not the A-hole,None
6385,AITA for no longer giving a struggling neighbo...,1,fotbrh,1413,When my (30F) husband and I got our first hous...,1.585154e+09,Not the A-hole,F
6386,AITA for ignoring my sisters request to stop c...,1,fp2i9w,1166,My husband and I live in a two bedroom apartme...,1.585186e+09,Not the A-hole,F
6387,"AITA for not wanting to ""tone down"" my wedding?",1,fp4kaj,1652,My fiance and I wanted to do something small f...,1.585194e+09,Not the A-hole,F

In [92]:
df[~df['gender'].isna()]

,title,score,id,num_comments,selftext,created_utc,flair,gender
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1.550376e+09,Not the A-hole,M
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1.550418e+09,Not the A-hole,M
5,AITA for not wanting my bf to live with a fema...,7321,arr62j,1491,My boyfriend wants to have a female coworker s...,1.550450e+09,Not the A-hole,F
9,AITA for telling my friend I didn’t appreciate...,18330,ashfts,2114,\n\nMy friend invited my husband and me to a ...,1.550622e+09,Not the A-hole,F
12,AITA for refusing to let my neighbors park in ...,7727,aszm1k,669,To cut a long story short my neighbor has abou...,1.550729e+09,Not the A-hole,M
...,...,...,...,...,...,...,...,...
6382,AITA for not taking my buddy’s side in a breakup?,1,fo8ol5,1897,My buddy (let’s call him Ben) and his girlfrie...,1.585070e+09,Not the A-hole,M
6383,AITA for not wanting my wife’s birthday present?,1,foh9yl,740,"The other week, my wife broke my gaming system...",1.585098e+09,Not the A-hole,M
6385,AITA for no longer giving a struggling neighbo...,1,fotbrh,1413,When my (30F) husband and I got our first hous...,1.585154e+09,Not the A-hole,F
6386,AITA for ignoring my sisters request to stop c...,1,fp2i9w,1166,My husband and I live in a two bedroom apartme...,1.585186e+09,Not the A-hole,F
6387,"AITA for not wanting to ""tone down"" my wedding?",1,fp4kaj,1652,My fiance and I wanted to do something small f...,1.585194e+09,Not the A-hole,F

In [93]:
df.to_csv('full_data_with_gender.csv')

In [96]:
x = 'myfile.parquet'
x

'myfile.parquet'

In [98]:
x[:-8]

'myfile'